{% extends "base.html" %} 

{% block title %}Panel de Administración - Decarrerita{% endblock %} 

{% block content %}
    <div class="contenedor" style="width: 380px;">
        <h1>Panel Administrativo</h1>
        
        <h3 style="text-align: left; margin-bottom: 10px; color: #052659;">Finanzas y Pagos</h3>
        <div style="display: flex; flex-direction: column; gap: 10px; margin-bottom: 25px;">
            {% if rol == 'superadmin' %}
                <!-- Solo el Super Admin puede liquidar la plata -->
                <a href="/administracion/pagos?rol={{ rol }}&id_admin={{ id_admin }}">
                    <button style="width: 100%; background-color: #28a745;">Liquidar Pagos Pendientes</button>
                </a>
            {% endif %}
            
            <!-- Ambos pueden auditar el historial de lo que ya se pagó -->
            <a href="/administracion/historial-pagos?rol={{ rol }}&id_admin={{ id_admin }}">
                <button style="width: 100%;">Historial y Ganancias (Consultor)</button>
            </a>
        </div>

        <h3 style="text-align: left; margin-bottom: 10px; color: #052659;">Gestión Operativa</h3>
        <div style="display: flex; flex-direction: column; gap: 10px;">
            {% if rol == 'superadmin' %}
                <a href="/administracion/administradores?rol={{ rol }}"><button style="width: 100%;">Agregar Personal</button></a>
            {% endif %}
            <a href="/administracion/evaluacion"><button style="width: 100%;">Evaluaciones Psicológicas</button></a>
            <a href="/administracion/revision"><button style="width: 100%;">Revisiones Vehiculares</button></a>
            <a href="/administracion/choferes?rol={{rol}}"><button style="width: 100%;">Auditar Choferes</button></a>
            <a href="/administracion/pasajeros?rol={{rol}}"><button style="width: 100%;">Auditar Pasajeros</button></a>
        </div>

        <a href="/" style="display: block; margin-top: 25px; text-decoration: none; color: #dc3545; font-size: 0.9em; font-weight: bold;">
            Cerrar Sesión
        </a>
    </div>
{% endblock %}