{% extends "base.html" %}

{% block title %}Choferes Registrados - Decarrerita{% endblock %}

{% block content %}
    <div>
        <h1>Pasajeros Registrados</h1>

        {% if pasajeros == 0 %}
            <div style="background-color: #f8f9fa; padding: 20px; border-radius: 5px; text-align: center; border: 1px solid #dee2e6; color: #6c757d;">
                No hay pasajeros registrados en el sistema.
            </div>
        {% else %}
            <table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
                <thead>
                    <tr style="background-color: #f2f2f2;">
                        <th style="padding: 12px;">ID Pasajero</th>
                        <th style="padding: 12px;">Nombre Completo</th>
                        <th style="padding: 12px;">C.I</th>
                        <th style="padding: 12px;">Correo</th>
                        <th style ="padding: 12px;">Direccion</th>
                        <th style="padding: 12px;">Calificación</th>
                        <th style="padding: 12px;">Saldo en Cuenta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario, pasajero in pasajeros %}
                    <tr class="fila-interactiva">
                        <td style="padding: 12px;">{{ pasajero.id_pasajero }}</td>
                        <td style="padding: 12px;">{{ usuario.nombre }} {{ usuario.apellido }}</td>
                        <td style="padding: 12px;">{{ usuario.cedula }}</td>
                        <td style="padding: 12px;">{{ usuario.correo }}</td>
                        <td style="padding: 12px;">{{ usuario.direccion}}</td>
                        <td style="padding: 12px;">{{ pasajero.calificacion }}</td>
                        <td style="padding: 12px;">{{ pasajero.saldo_disponible }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <a href="/panel-administracion?rol={{rol}}" style="display: block; margin-top: 25px; text-decoration: none; color: #dc3545; font-weight: bold;">
            Volver al Panel Principal
        </a>
    </div>
{% endblock %}